<div>
	<table style="width:50%;margin:0px auto">
		<tr>
			<td>Name</td>
			<td><input type="text" ng-model="form.name"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" ng-model="form.email"></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><input type="text" ng-model="form.phone"></td>
		</tr>
		<tr>
			<td>Amount</td>
			<td><input type="text" ng-model="form.amount"></td>
		</tr>
		<tr>
			<td><button type="button" ng-click="formSubmit(form)">Button</button></td>
		</tr>
	</table>
</div>